*{ /* Seleciona todos os elementos da página*/
    margin: 0; /*remove o espaçamento externo padrão */
    padding: 0; /*remove o espaçamento INTERNO padrão*/
    box-sizing: 0; /*largura e altura incluem padding+borda*/
}

head {
    background-color: chartreuse;
    color: black;
    text-align: center;
    padding: 20px;
}

header {
    color: black;
    text-align: center;
    padding: 20px;
    font-style: italic;
    font-size: medium;
    font-display: fallback;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about {
    background: #8AA1B0;
    background: linear-gradient(90deg,rgba(138, 161, 176, 1) 0%, rgba(72, 188, 90, 1) 50%, rgba(138, 161, 176, 1) 100%);
    color: black;
    padding: 20px;
    display: flex;
}

.granaxLogo {
    width: 250px;
    height: 250px;
}

.cardSobre{
    width: 100%;
    height: 50px;
    display: grid;
    align-items: center;
    gap: 20px;
    padding-left: 10px;
    /*color: white;*/
}

.quemsomos {
    font-size: 30px;
    /*color: #0aa421;*/
    font-style: oblique;
    font-family: 'Roboto Condensed', sans-serif;
}

.textoSobre {
    /*font-family: sans-serif;*/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    align-items: center;
    height: 30px;
    width: 100%;
    padding-top: 5px;
}

.services{
    background-color: white;
    padding: 20px;
    width: auto;
    display: flex;
    gap: 30px;
    justify-content: center;
}

.cardsServicos {
    /*background-color: #0aa421;*/
    background: #8AA1B0;
    background: linear-gradient(90deg,rgba(138, 161, 176, 1) 0%, rgba(72, 188, 90, 1) 50%, rgba(138, 161, 176, 1) 100%);
    width: 300px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow:10px 10px 10px  #333;  
    text-transform: uppercase; /*transforma tudo em maiuscula*/
}

section {
    width: auto;
    background-color: white;
}

.servicos{
    padding-top: 30px;
    text-align: center;
    font-size: 30px;
}

.slogan {
    font-size: 25px;
    justify-content: center;
    text-align: center;
    padding: 30px;
    padding-top: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}


.logo {
    display: flex; /* coloca tudo em linha*/
    align-items: center;
    gap: 10px
}

.logo img {
    width: 60px;
}

.titulo {
    margin-left: 30px;
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

footer {
    display: flex;
    position: static;
    /*background: #48BC5A;
    background: linear-gradient(94deg,rgba(72, 188, 90, 1) 13%, rgba(18, 50, 86, 1) 51%, rgba(72, 188, 90, 1) 87%);*/
    align-items: center;
    gap: 10px;
    padding-bottom: 20px;
    bottom: 0;
    width: 100%;
}

.rodape {
    text-decoration: blink;
    color: #333;
    font-size: 16px;
    justify-content: end;
    text-shadow: #333;
}

